dist
.next
target
packages/next/wasm/@next
node_modules
package-lock.json
yarn.lock
!/yarn.lock
test/node_modules
.pnpm-store/
*.log
pids
*.cpuprofile
.nyc_output
coverage
test/**/out*
test/**/next-env.d.ts
test/**/tsconfig.json
.DS_Store
/e2e-tests
test/tmp/**
**/.idea
**/.#*
.nvmrc
pr-stats.md
test-timings.json
.vercel
.now
*.tsbuildinfo
.swc/
.env.local
template