@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bebas+Neue&family=Fredoka+One&family=Klee+One:wght@400;600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Niconne&family=Pacifico&family=Petit+Formal+Script&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  animation-fill-mode: both;
  scroll-behavior: smooth !important;
  font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {
  background-color: #dadada;
  border: 5px solid #fff;
  height: 11px;
  width: 11px;
}
::-webkit-scrollbar-thumb {
  background-color: #8f8e8e;
  border: 2.98px solid #fff;
  border-radius: 15px;
}
a {
  text-decoration: none;
}
ul, li {
  list-style-type: none;
}
/* ESTILOS BOTONES */
.btn-white {
  background: #FFF;
  color: black;
  display: inline-block;
  border-radius: 15px;
  padding: 10px 25px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1px;
}
.btn-circle {
  background: #fff;
  color: black;
  display: inline-block;
  border-radius: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pop-up-anuncios {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 4;
  background: #8f8e8e;
  width: 100%;
  height: 50px;
}
.pop-up-anuncios p {
  text-transform: uppercase;
  font-size: 11px;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: absolute;
  height: 82px;
  padding-top: 15px;
  z-index: 3;
  margin-top: 55px;
  flex-wrap: wrap;
}
nav .user-options {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 70px;
}
nav .user-options .user-icon, nav .user-options .user-pedidos {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
nav .user-options .user-icon img, nav .user-options .user-pedidos img {
  width: 100%;
  pointer-events: none;
}
nav ::selection {
  background: none;
}
nav .logotipo img {
  width: 200px;
  pointer-events: none;
}
nav ul {
  display: flex;
}
nav ul li {
  margin-right: 50px;
}
nav ul li a {
  color: black;
  font-weight: 600;
  font-size: 13px;
  text-transform: lowercase;
  padding: 5px 25px;
  border-radius: 17px;
}
nav ul li a.active {
  background: #eee;
}
header {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
header .nave-slider {
  position: absolute;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  width: 100px;
  bottom: 5%;
  right: 46%;
  cursor: pointer;
}
header .nave-slider i {
  font-style: normal;
  width: 40px;
  height: 40px;
}
header ::selection {
  background: none;
}
header .sliderMain {
  transform: translateX(0%);
  transition: all ease 0.8s;
}
header .sliderMain .colum-slider {
  width: 400%;
  display: flex;
  height: 100vh;
  position: relative;
}
header .sliderMain .colum-slider .slider-content {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .sliderMain .colum-slider .slider-content .content-txt {
  position: relative;
  z-index: 2;
  right: 19%;
}
header .sliderMain .colum-slider .slider-content img {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
footer {
  background: #af9b82;
  color: white;
}
.main-footer-content {
  padding-top: 74px;
  padding-right: 77px;
  padding-left: 77px;
}
.column-footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 63px;
}
.column-1 img {
  width: 194px;
}
.column-1 p {
  width: 266px;
  margin-top: 20px;
}
.column-2 p {
  display: block;
  margin-bottom: 6px;
}
.main-enlaces {
  display: flex;
  justify-content: space-between;
}
.main-enlaces ul {
  display: flex;
}
.column-2 {
  width: 300px;
}
.column-3 span {
  display: block;
  margin-bottom: 10px;
}
.column-3 {
  width: 281px;
}
.column-footer i {
  font-size: 36px;
  display: block;
  margin-bottom: 22px;
  opacity: 0.9;
}
.column-footer p {
  font-size: 14px;
}
.column-footer h3 {
  font-weight: 400;
  margin-bottom: 22px;
}
.main-enlaces a {
  color: white;
}
ul.terminos li {
  margin-right: 37px;
}
ul.redes a {
  background: #8b7a66;
  padding: 5px;
  margin-left: 9px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.main-enlaces {
  background: #a18d74;
  padding: 26px;
}
.main-enlaces ul {
  align-items: center;
}
.main-enlaces ul p {
  margin-right: 25px;
}
.column-1 ul li a {
  display: block;
  width: 100%;
  text-align: left;
  color: white;
  border-bottom: 1px solid rgba(238, 238, 238, 0.18);
  font-size: 13px;
  padding: 8px;
}
.column-1 ul {
  margin-top: 18px;
}
.column-4 {
  width: 224px;
  margin-right: 32px;
  margin-left: -17px;
}
p.parrafo {
  background: #a5927b;
  padding: 16px;
  font-size: 11px;
  margin-top: 23px;
}
.column-1 img {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(179deg) brightness(110%) contrast(101%);
}
.column-3 span a {
  color: white;
  font-size: 20px;
}
.column-3 p {
  margin-bottom: 25px !important;
}
.login-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url(../public/213260a5-35a6-45e0-9e95-9da440c741d2.png);
}
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.formulario-conexion {
  background: #FFF;
  width: 50%;
  display: flex;
  justify-content: space-between;
  height: 710px;
  margin-top: 118px;
  align-items: center;
  padding-left: 176px;
}
.conectarse {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 576px;
}
.abrir-cuenta button.btn-border {
  border: 1px solid black;
}
.abrir-cuenta {
  height: 100%;
  width: 339px;
  padding: 37px;
  text-align: center;
  background: #d0c7be;
  background: url(../public/8dbd7526-a991-4fd5-b97b-762f9c418d38.jpg);
  background-size: cover;
  background-position: center;
}
.conectarse form {
  text-align: center;
  width: 307px;
  position: relative;
  overflow: hidden;
}
.conectarse form input {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #eee;
  text-align: center;
  height: 38px;
}
.conectarse form input:focus {
  outline: none;
}
.form-2 {
  margin-top: 45px;
  margin-bottom: 39px;
}
.conectarse form label {
  color: #a9a9a9;
  font-size: 13px;
}
.conectarse form h3 {
  display: block;
  width: 107px;
  margin: 0 auto;
  margin-bottom: 45px;
}
.form-2 a {
  font-size: 10px;
  display: block;
  padding: 4px;
  color: #a98452;
}
.form-1 p {
  font-size: 10px;
  display: block;
  padding: 4px;
  color: #a98452;
}
button.btn-Principal {
  background: #d5b07e;
  border: 0;
  padding: 14px 25px;
  border-radius: 31px;
  display: block;
  width: 100%;
  color: white;
  font-weight: 600;
  margin-bottom: 25px;
  cursor: pointer;
}

button.btn-Principal:disabled {
  background: #cccccc;
  pointer-events: none;
}

button.btn-border {
  background: none;
  border: 1px solid #eee;
  border-radius: 29px;
  display: block;
  height: 47px;
  margin-bottom: 15px;
  width: 100%;
  cursor: pointer;
  font-size: 11px;
}
.ctn-newCuenta {
  margin-top: 124px;
}
.abrir-cuenta button.btn-border {
  display: block;
  width: 184px;
  margin: 0 auto;
  font-weight: 600;
  margin-top: 182px;
}
.FormRegister label {
  display: block;
  text-align: left;
}
.FormRegister .form-1 {
  display: block;
  margin-bottom: 29px;
}
.FormRegister .form-1 input {
  text-align: left;
}
.abrir-cuenta button.btn-border a {
  color: black;
}
.form-1.genero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
select {
  border-radius: 15px;
  padding: 5px 34px;
  border: 1px solid #d7d7d7ee;
}
.form-1.fecha-nacimiento input {
  border: 1px solid #eee;
  padding: 18px;
  border-radius: 23px;
  font-size: 10px;
  position: relative;
  overflow: hidden;
  z-index: 33;
  background: none;
}
.login-container, .login-container.Register {
  background-size: cover;
}
div#home a {
  color: black;
}
.My-Account {
  background-image: url(../public/213260a5-35a6-45e0-9e95-9da440c741d2.png);
  background-size: cover;
  background-position: center;
}
.My-Account {
  display: flex;
  align-items: top;
  justify-content: center;
  padding-top: 186px;
  padding-bottom: 162px;
}
.mainmenu-Account {
  background: #fff;
  margin-right: 50px;
  border-radius: 14px;
  padding: 16px;
  width: 313px;
}
.dashboard-cuenta {
  background: #fff;
  border-radius: 16px;
  width: 1292px;
}
.Options-Fast {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #fbfbfb;
  height: 297px;
}
.a-box {
  display: flex;
  align-items: center;
  padding: 25px;
  height: 176px;
  width: 484px;
  border: 1px solid #eee;
  border-radius: 29px;
  box-shadow: 2px 2px 2px #F1F1F1;
  margin-right: 43px;
  justify-content: space-around;
  cursor: pointer;
}
.icon-box {
  width: 97px;
  height: 96px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-right: 15px;
}
.txt-info {
  width: 211px;
}
.a-box i.fa.fa-arrow-circle-right {
  font-size: 37px;
}
.Productos {
  position: relative;
  margin-top: 47px;
  padding-right: 127px;
  padding-left: 77px;
}
.lista-Categorias {
  display: flex;
  margin-top: 32px;
}
.lista-Categorias .a-box {
  width: 250px;
  height: 67px;
  margin-right: 21px;
  padding: 12px;
}
.lista-Categorias .a-box .icon-box {
  height: 45px;
  width: 58px;
}
.Options-Fast .a-box {
  background: #ffff;
}
.cantidad-pr h3 {
  font-size: 12px !important;
}
.a-order * {
  font-size: 13px !important;
}
.lista-Categorias .txt-info h3 {
  font-size: 14px !important;
}
.txt-info p {
  font-size: 13px !important;
}
.Productos h3 {
  font-size: 18px !important;
}
.content-txt {
  background: rgba(255, 255, 255, 0.418);
  padding: 55px;
}
.content-txt .btn-white {
  margin-top: 20px;
}
.content-txt p {
  font-family: Playfair Display;
}
header.error {
  background: url(../public/213260a5-35a6-45e0-9e95-9da440c741d2.png);
}
header.error {
  display: flex;
  align-items: center;
  justify-content: center;
}
header.error .content-txt {
  text-align: center;
}
header.error .content-txt h3 {
  font-size: 24px;
  border-bottom: 1px solid #dadada;
  margin-bottom: 24px;
  padding-bottom: 17px;
}
.pedidos {
  position: relative;
  padding: 16px;
  border: 1px solid #eee;
  border-radius: 24px;
  margin-bottom: 33px;
  overflow: hidden;
}
.a-order {
  display: flex;
  justify-content: space-between;
  padding: 13px;
  background: #f5f5f5;
  border-radius: 16px;
}
.a-box-order h2 {
  font-size: 14px;
  opacity: 0.7;
}
.a-box-order span, .a-box-order a {
  font-size: 15px;
  font-weight: 600;
  color: black;
}
.content-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lista-Categorias {
  margin-bottom: 41px;
}
.icon-producto {
  width: 100px;
  height: 100px;
  background: #eee;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  left: 13px;
  bottom: -15px;
}
.more-details {
  border-top: 2px solid #eee;
  padding: 15px;
  font-size: 13px;
}
.caja-status {
  display: flex;
  margin-top: 14px;
}
.caja-status div {
  background: #eee;
  border-radius: 17px;
  padding: 2px 17px;
  margin-right: 9px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
}
.cantidad-pr {
  display: flex;
  position: relative;
  align-items: center;
}
.cantidad-pr h3 {
  font-size: 12px;
  margin-right: 24px;
}
.cantidad-pr span {
  border: 1px solid #f1f1f1;
  padding: 10px;
  font-size: 13px;
}
.producto-info {
  position: relative;
}
.butons button {
  margin: 0;
}
.butons {
  display: flex;
  flex-direction: row-reverse;
  width: 389px;
}
.butons .btn-Principal {
  margin-left: 16px;
}
.content-order {
  height: 108px;
}
.icon-producto {
  width: 80px;
  height: 80px;
  margin-top: -29px;
  left: 32px;
}
.more-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details-fc span {
  background: #eee;
  padding: 5px 25px;
  border-radius: 15px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 11px;
}
.details-fc a.btn-Principal {
  background: #af9b82;
  color: white;
  padding: 5px 25px;
  border-radius: 38px;
  margin-left: 11px;
}
.container-maincoin {
  display: flex;
  background: rgba(255, 255, 255, 0.582);
  padding: 43px;
  border-radius: 24px;
}
.mainmenu-Account {
  border: 1px solid #eee;
}
.dashboard-cuenta {
  border: 1px solid #eee;
}
.container-maincoin {
  align-self: stretch;
}
.mainmenu-Account {
  align-self: stretch;
}
.dashboard-cuenta {
  align-self: stretch;
}
.ctn-user {
  position: sticky;
  top: 83px;
}
.content-order:hover {
  background: rgba(240, 239, 237, 0.123);
}
ul.menu-account {
  position: relative;
}
ul.menu-account li {
  background: #f9f9f9;
  padding: 11px;
  margin-bottom: 9px;
  border-radius: 17px;
  cursor: pointer;
}
.info-Usuario {
  margin-right: 10px;
  margin-left: 8px;
}
ul.menu-account li a {
  color: black;
  font-weight: 600;
  font-size: 13px;
  margin-left: 12px;
}
ul.menu-account li i {
  background: #d3c9be;
  padding: 4px;
  border-radius: 100%;
  color: white;
}
ul.menu-account li:hover {
  background: #d3c1a9;
}
ul.menu-account {
  background: #fdfdfd;
  padding: 20px;
  border-radius: 15px;
}
ul.menu-account li:hover a {
  color: white;
}
ul.menu-account li.active {
  background: #d3c1a9;
}
ul.menu-account li.active a {
  color: white;
}
.info-Usuario .btn-Principal {
  width: 144px;
  margin: 0 auto;
  margin-bottom: 32px;
  margin-top: 25px;
}
.icon-user {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background: #eee;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 36px;
}
.info-Usuario {
  text-align: center;
}
ul.menu-account li {
  text-align: left;
}
ul.menu-account li a {
  display: block;
  position: absolute;
  top: 5px;
  width: 100%;
  height: 100%;
  right: 0;
  padding-left: 46px;
  padding-top: 9px;
}
ul.menu-account li {
  position: relative;
  overflow: hidden;
}
.dashboard-cuenta.datosMain form.dts {
  padding: 28px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}
.dashboard-cuenta.datosMain form.dts .form-1 {
  display: flex;
  align-items: center;
  margin-right: 53px;
}
.dashboard-cuenta.datosMain form.dts .form-1 input {
  border: 1px solid #eee;
  box-shadow: 2px 2px 2px #f1f1f1;
  border-radius: 26px;
  height: 42px;
  width: 297px;
  padding-left: 25px;
  padding-right: 25px;
}
.dashboard-cuenta.datosMain form.dts .form-1 label {
  font-size: 11px;
  display: block;
  padding: 12px;
  text-transform: uppercase;
}
.dashboard-cuenta.datosMain form.dts .form-1 button {
  margin-bottom: 0;
  position: relative;
  top: 21px;
  padding: 12px 28px;
  font-size: 11px;
  right: 30px;
  border-radius: 0px 15px 15px 0px;
  box-shadow: 2px 2px 2px #f1f1f1;
}
.dashboard-cuenta.datosMain form.dts .form-1 input:focus {
  outline: 0px;
}
.dashboard-cuenta h3.main {
  font-size: 19px;
  padding: 40px;
  background: #fcfcfc;
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
}
.selet-fehca {
  display: flex;
}
.selet-fehca select {
  margin-right: 11px;
}
.a-option {
  display: flex;
  align-items: center;
  height: 107px;
  justify-content: space-between;
  font-size: 13px;
  background: #fcfcfc;
  border-bottom: 1px solid #eee;
  padding: 39px;
}
.more-options-container {
  margin-top: 44px;
}
.a-option .ctn-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.a-option .ctn-btn button {
  margin-bottom: 0;
  font-size: 10px;
  padding: 8px 25px;
  margin-left: 27px;
}
.a-option .ctn-btn button button.btn-circle {
  border-radius: 50px !important;
}
.a-option .ctn-btn button.btn-circle {
  border-radius: 18px !important;
  width: 236px;
  background: none;
  cursor: pointer;
  border: 1px solid #eee;
}
.form-1.genero {
  flex-wrap: wrap;
}
form.dts.passwordctn button {
  top: 0px !important;
  right: 77px !important;
}
.dashboard-cuenta.datosMain form.dts .form-1 label {
  display: block;
  width: 100%;
}
.dashboard-cuenta h3.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ctn-ediciones {
  position: relative;
}
.ctn-ediciones button {
  background: #fff;
  border-radius: 13px;
  border: 1px solid #f1f1f1f1;
  padding: 8px 13px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.ctn-ediciones button i {
  margin-right: 6px;
}
.dashboard-cuenta.datosMain form.dts .form-1 {
  width: 100%;
}
.dashboard-cuenta.datosMain form.dts .form-1 input {
  width: 56vh;
}
form.dts.passwordctn .form-1 {
  width: 33vh !important;
}
.container-maincoin.direcciones {
  display: flex;
  justify-content: space-around;
}
.Caja-Direccion {
  position: relative;
  padding: 19px;
  border: 1px solid #f1f1f1;
  box-shadow: 2px 2px 2px #eee;
  overflow: hidden;
  border-radius: 25px;
  width: 50vh;
}
h3.main-title-D {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 54px;
}
h3.main-title-D button {
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
h3.main-title-D button i {
  margin: 0;
}
.content-direc {
  font-size: 14px;
  padding: 21px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 25px;
}
.content-direc p {
  display: inline;
}
.content-direc p.estados {
  display: block;
}
.content-direc p.referencias {
  background: #fbfbfb;
  display: block;
  padding: 12px;
  margin-top: 5px;
  border-radius: 10px;
}
button.preder {
  background: #d3c1a9;
  color: white;
}
h3.main span form input:focus {
  outline: none;
}
.container-maincoin.direcciones {
  flex-wrap: wrap;
}
.Caja-Direccion {
  margin-bottom: 42px;
}
h3.main span {
  display: flex;
}
h3.main span form input {
  width: 29vh;
  padding: 7px;
  background: none;
  border: 0px;
  border-bottom: 2px solid #cecece;
}
.StatusPedido {
  border-bottom: 1px solid #EEF;
}
h3.main.statusPedido-s .a-box-order {
  display: flex;
  align-items: center;
}
h3.main.statusPedido-s .a-box-order i {
  background: #d3c1a9;
  padding: 15px;
  margin-right: 25px;
  border: 1px solid #f1f1f1;
  border-radius: 100%;
  font-size: 13px;
  color: white;
}
span.small {
  font-size: 12px;
  text-transform: initial;
}
h3.main.statusPedido-s .a-box-order .mfn- span a {
  display: flex;
  background: #a5927b;
  padding: 2px 14px;
  font-size: 9px;
  color: white;
  align-items: center;
  border-radius: 7px;
  margin-left: 7px;
}
h3.main.namePedido {
  justify-content: flex-start;
}
h3.main.namePedido .ctn-ediciones {
  margin-left: 15px;
}
span.cantidadA {
  font-weight: bolder;
  font-size: 10px;
  background: #d3c1a9;
  color: white;
  padding: 6px;
  border-radius: 100px;
}
header.error.Politica {
  height: 609px;
}
header.error.Politica .content-txt {
  width: 543px;
}
.content-Wrapper {
  background: #fff;
  padding: 65px;
}
.Prrafo {
  width: 86vh;
  margin: 0 auto;
  background: #fdfdfd;
  padding: 32px;
  margin-bottom: 28px;
  outline: 1px solid #eee;
  outline-offset: -14px;
}
.Prrafo h3 i {
  display: block;
  font-size: 39px;
}
.Prrafo h3 span {
  display: block;
  font-size: 16px;
  font-weight: 600;
}
.Prrafo h3 {
  font-size: 29px;
  line-height: 99%;
  display: block;
  margin-bottom: 16px;
}
@media screen and (max-width: 900px) {
  .Prrafo {
    width: 90% !important;
  }
  .content-Wrapper {
    padding: 5px;
    padding-top: 37px;
  }
  .StatusPedido .circle-box {
    margin-left: 0px !important;
  }
  .StatusPedido .circle-box {
    margin: 0;
    display: inline-block !important;
    margin-right: 12px;
  }
  .StatusPedido {
    text-align: center;
  }
  h3.main.namePedido {
    flex-wrap: wrap;
  }
  h3.main span {
    flex-wrap: wrap;
  }
  h3.main span form {
    margin-top: 4px;
    margin-bottom: 16px;
  }
  h3.main.namePedido .ctn-ediciones {
    margin: 0;
  }
  h3.main.statusPedido-s {
    flex-wrap: wrap;
  }
  h3.main.statusPedido-s .a-box-order {
    display: block;
    width: 100vh;
    text-align: center;
    margin-bottom: 46px;
  }
  h3.main.statusPedido-s .a-box-order span {
    text-align: center !important;
    display: block;
  }
  h3.main.statusPedido-s .a-box-order i {
    margin: 0;
    margin-bottom: 24px;
  }
  h3.main.statusPedido-s .a-box-order .mfn- span a {
    display: block;
    padding: 8px;
    width: 98px;
    margin: 0 auto;
    margin-top: 17px;
  }
  .content-order {
    text-align: center;
  }
  header .sliderMain .colum-slider .slider-content .content-txt {
    bottom: 156px;
  }
  header .sliderMain .colum-slider .slider-content {
    justify-content: end;
    align-items: flex-end;
  }
  h3.main.NameDireccion {
    flex-wrap: wrap;
  }
  h3.main.NameDireccion span {
    flex-wrap: wrap;
  }
  h3.main.NameDireccion span form {
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 0;
  }
  h3.main.NameDireccion span form input {
    width: 34vh;
  }
  .dashboard-cuenta.datosMain form.dts .form-1 input {
    width: 34vh !important;
  }
  .Caja-Direccion {
    width: 100% !important;
  }
  body {
    overflow-x: hidden;
    overflow-y: scroll !important;
  }
  .dashboard-cuenta.datosMain form.dts {
    flex-wrap: wrap;
  }
  .a-option .ctn-btn button {
    margin: 0 !important;
  }
  .dashboard-cuenta.datosMain form.dts .form-1 input {
    width: 27vh;
  }
  .a-option {
    flex-wrap: wrap !important;
    height: auto !important;
  }
  .a-option .ctn-btn {
    justify-content: flex-start !important;
  }
  .a-option .ctn-btn button {
    margin-left: 5px;
  }
  form.dts.passwordctn .form-1 {
    flex-wrap: wrap;
  }
  form.dts.passwordctn button.btn-Principal {
    margin-top: -43px;
    left: 181px;
    font-size: 10px !important;
  }
  .Options-Fast {
    display: block !important;
  }
  .Options-Fast .a-box {
    width: 100% !important;
    height: 135px;
  }
  .content-order {
    flex-wrap: wrap;
  }
  .icon-producto {
    left: 0 !important;
  }
  .icon-box {
    height: 75px;
  }
  .My-Account {
    width: 100% !important;
  }
  .My-Account .container-maincoin {
    width: 100%;
    margin: 0 auto;
  }
  .mainmenu-Account {
    width: 100% !important;
  }
  .dashboard-cuenta {
    width: 100% !important;
  }
  .Options-Fast {
    width: 100% !important;
  }
  .lista-Categorias .a-box {
    width: 44% !important;
  }
  .Options-Fast {
    flex-wrap: wrap;
    height: auto;
    padding: 35px;
    width: 47vh;
  }
  .Options-Fast .a-box {
    width: 100vh;
    margin-bottom: 14px;
  }
  .dashboard-cuenta {
    width: 43vh;
    margin-top: 40px;
    position: relative;
    overflow: hidden;
  }
  .container-maincoin {
    flex-wrap: wrap;
    width: 52vh;
    display: block !important;
  }
  .mainmenu-Account {
    width: 43vh;
  }
  .My-Account.aos-init.aos-animate {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: block;
  }
  .Productos {
    padding-right: 25px;
    padding-left: 24px;
  }
  .lista-Categorias {
    flex-wrap: wrap;
    justify-content: center;
  }
  .a-order {
    flex-wrap: wrap;
  }
  .content-order {
    flex-wrap: wrap;
    height: auto !important;
  }
  .producto-info {
    margin-top: 22px;
    text-align: center;
    margin-right: 34px;
  }
  .lista-Categorias a.box {
    width: 3vh !important;
  }
  .lista-Categorias .a-box {
    width: 17vh;
    height: 52px;
    padding: 8px;
    margin-bottom: 12px;
  }
  .lista-Categorias .a-box .icon-box {
    height: 33px;
  }
  .Productos h3 {
    display: block;
    text-align: center;
  }
  .txt-info h3 {
    text-align: left;
  }
  .caja-status {
    justify-content: center;
    margin-bottom: 28px;
  }
  .icon-producto, .producto-info {
    display: inline-block;
  }
  .cantidad-pr {
    width: 100vh;
    justify-content: center;
    display: none !important;
  }
  .butons {
    margin-bottom: 33px;
    justify-content: center;
  }
  .more-details {
    flex-wrap: wrap;
  }
  .info-data-dia {
    margin-bottom: 29px;
  }
  .a-order .a-box-order:nth-child(3) {
    border-radius: 9px;
    width: 100vh;
    margin-top: 22px;
    text-align: center;
    background: #e3e3e3;
    padding: 5px;
  }
  .butons button {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 147px;
  }
  .formulario-conexion {
    flex-wrap: wrap;
    width: 87%;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin-top: 198px;
    padding-top: 50px;
    height: auto;
  }
  .login-container {
    align-items: flex-start;
    height: auto !important;
    padding-bottom: 53px;
  }
  .abrir-cuenta {
    width: 100%;
    height: 516px;
    background-position: top;
  }
  .abrir-cuenta button.btn-border {
    margin-top: 46px;
  }
  .ctn-newCuenta {
    margin-top: 145px;
  }
  .column-footer i {
    font-size: 58px;
  }
  nav .user-options {
    position: absolute;
    right: 0;
    margin-right: 42px;
    top: 0;
    margin-top: 17px;
  }
  .column-1 img {
    width: 39vh;
  }
  .column-1 p {
    text-align: center;
    width: 36vh;
    margin: 0 auto;
    margin-top: 23px;
    margin-bottom: 34px;
  }
  .column-footer p {
    font-size: 17px;
  }
  .column-1 ul li a {
    font-size: 16px;
    padding-bottom: 24px;
    padding-top: 25px;
  }
  .column-1 ul li a {
    text-align: center;
  }
  nav ul.mainmenu {
    justify-content: space-evenly;
    width: 100vh;
  }
  nav ul.mainmenu li {
    margin-right: 0px;
  }
  .main-enlaces {
    flex-wrap: wrap;
  }
  .main-enlaces ul.terminos {
    height: 57px;
    margin-bottom: 19px;
  }
  .main-enlaces ul.redes {
    justify-content: center !important;
  }
  nav {
    justify-content: center;
  }
  nav ul.mainmenu {
    margin-top: 41px;
  }
  .column-footer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .column-2 {
    width: 100vh;
    margin-top: 50px;
    margin-bottom: 47px;
  }
  .column-3 {
    width: 100vh;
    margin-bottom: 55px;
  }
  .column-4 {
    margin: 0 auto;
    width: 100vh;
    margin-bottom: 48px;
  }
  .Pop-Up-Fuentes {
    width: 88%!important;
  }
  .Pop-UPDisenios.Images .box-Grande {
    width: 84%!important;
  }
}
.StatusPedido {
  overflow: hidden;
}
.StatusPedido .circle-box {
  border: 15px solid #fff;
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  outline: 1px solid #eee;
  outline-offset: -10px;
}
.StatusPedido .circle-box img {
  width: 27%;
  display: block;
  margin: 0 auto;
  margin-top: 34px;
}
.StatusPedido .circle-box {
  margin-left: 62px;
}
.StatusPedido .circle-box span {
  display: block;
  text-align: center;
  font-size: 11px;
  width: 55%;
  margin: 0 auto;
  margin-top: 9px;
}
.abrir-cuenta {
  height: 712px;
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.ctn-newCuenta p {
  font-size: 15px;
}
a.btn-border {
  color: black;
  font-size: 13px;
  display: inline-block;
  border: 2px solid #6b6a69;
  padding: 8px 29px;
  border-radius: 9px;
  font-weight: 600;
  text-transform: uppercase;
}
.ctn-newCuenta p {
  margin-bottom: 0px;
}
.ctn-newCuenta a.btn-border {
  margin-top: -50px;
  position: relative;
}
.abrir-cuenta a.btn-border {
  margin-top: -278px;
}
@media screen and (max-width: 900px) {
  .abrir-cuenta {
    height: 673px;
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .ctn-newCuenta p {
    font-size: 15px;
  }
  a.btn-border {
    color: black;
    font-size: 13px;
    display: inline-block;
    border: 2px solid #6b6a69;
    padding: 8px 29px;
    border-radius: 9px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .ctn-newCuenta p {
    margin-bottom: 0px;
  }
  .ctn-newCuenta a.btn-border {
    margin-top: -50px;
    position: relative;
  }
  .abrir-cuenta a.btn-border {
    margin-top: -278px;
  }
  .login-container {
    flex-wrap: wrap !important;
  }
  .abrir-cuenta {
    width: 44vh;
    margin: 0;
    height: 370px;
  }
  .formulario-conexion {
    height: 641px;
  }
  .abrir-cuenta a.btn-border {
    margin: 0 !important;
  }
  .ctn-newCuenta {
    margin-top: 41px !important;
  }
}
.floatingCaja {
  outline: 1px solid #eee;
  position: fixed;
  z-index: 2;
  background: rgba(255, 255, 255, 0.95);
  padding: 48px;
  width: 500px;
  outline-offset: -16px;
  border-radius: 17px;
  padding-bottom: 15px;
}
.floatingCaja p {
  font-size: 12px;
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  text-align: center;
  padding: 24px;
  margin: 0 auto;
}
a.btn-beige {
  background: #c3c1b4;
  margin: 0 auto;
  width: 165px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  border-radius: 17px;
  color: white;
  margin-top: 23px;
  font-size: 12px;
}
.floatingCaja i {
  display: block;
  text-align: center;
  font-size: 22px;
  margin-bottom: 21px;
  color: #c3c1b4;
}
.floatingCaja {
  overflow: hidden;
}
.floatingCaja:before {
  content: " ";
  height: 52px;
  width: 100vh;
  position: absolute;
  bottom: 0;
  right: 0;
}
a.btn-beige {
  margin-bottom: 36px;
}

@media screen and (max-width: 900px) {
  .floatingCaja {
    top: 38% !important;
    width: 38vh !important;
  }
}

.NavEditorTextos {
  background: #fff;
  display: flex;
  height: 50px;
  align-items: center;
  border-radius: 14px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 3px 2px 7px #c3c3c3;
}

.NavBtn i {
  display: block;
  text-align: center;
  font-size: 21px;
}

i.btn-coloristo {
  width: 20px;
  height: 20px;
  background: #d58585;
  border-radius: 100%;
  margin: 0 auto;
}

.NavBtn span {
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 600;
}

.NavBtn {
  margin-right: 15px;
  cursor: pointer;
}

.NavBtn:hover {
  background: #f0f0f0;
}
.Options-Constructor-Capas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 6px;
  border-radius: 50px;
  height: 69px;
  position: relative;
  overflow: hidden;
}

.Options-Constructor-Capas .btn-Circle {
  background: #d0c7be;
  color: white;
  transform: rotate(90deg);
  width: 50px;
  height: 50px;
  font-size: 19px;
  cursor: pointer;
}

.NumeroProducto {
  width: 65px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 3px solid #d0c7be;
  color: #a4998e;
}

.NombreProducto {
  font-weight: 600;
  font-size: 14px;
}

.Flexie-Constructor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



div#Constructor {
  width: 80%;
}

.Options-Constructor-Capas {
  width: 31%;
  margin: 0 auto;
  margin-bottom: 87px;
}

.Dato-Camb h3 {
  display: flex;
  align-items: center;
  height: 52px;
  margin-bottom: 18px;
  position: relative;
  overflow: hidden;
  font-weight: 600;
  font-size: 17px;
}

.Dato-Camb h3:before {
  content: " ";
  width: 102px;
  height: 3px;
  background: #ccc;
  position: absolute;
  bottom: 0;
}

button.btn-Basico {
  border: 0;
  background: #fff;
  padding: 8px 17px;
  border-radius: 18px;
  cursor: pointer;
}

button.btn-Basico.Active {
  background: #d3c1a9;
  color: white;
  font-weight: 600;
}

.Dato-Camb {
  margin-bottom: 32px;
}

button.btn-Circle-Color {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 0;
  background: #fff;
  cursor: pointer;
}

.Producto-Changes {
  width: 38%;
}

.MainChanges {
  position: relative;
  overflow: hidden;
}

.MainChanges img {
  width: 100%;
}


.btn-edit-circle {
  cursor: pointer;
  background: #d3c1a9;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-bottom: 30px;
}

.btn-edit-circle img {
  width: 46%;
}


.caja-info-costo {
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: space-evenly;
  background: #d3c1a9;
  color: white;
  font-size: 20px;
}

.caja-info-costo p {
  font-size: 20px;
}

.caja-info-costo span {
  font-size: 28px;
}

button.btn-more-options-p-d {
  background: #fff;
  border: 0px;
  padding: 11px 32px;
  border-radius: 20px;
  cursor: pointer;
}

.Pop-Up-Changes {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(158, 158, 158, 0.575);
}

.ctn-boxFloating h3 {
  color: white;
  text-align: center;
  width: 67%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.Lista-Productos-Creados {
  background: #fff;
  padding: 15px;
  border-radius: 25px;
  box-shadow: 2px 2px 13px 4px #a6a6a6;
}

.Producto-Creado {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-more-options-p {
  display: flex;
  background: #d3c1a9;
  align-items: center;
  color: white;
  border-radius: 46px;
  padding: 5px;
}

.circle-edit-pa {
  background: #c5af90;
  padding: 5px 10px;
  border-radius: 100%;
  margin-right: 4px;
  height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.circle-edit-pa i {
  font-size: 13px;
}
button.FloatingCerrar {
  border: 0;
  background: #af9b82;
  display: inline-block;
  padding: 15px;
  border-radius: 39px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 29px;
  cursor: pointer;
}

.ctn-boxFloating {
  text-align: center;
}
.Producto-Creado {
  background: #fcfcfc;
  padding: 11px;
  border-radius: 15px;
  margin-bottom: 16px;
}

.agregar-Producto-perso {
  position: fixed;
  background: #c2b097;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-size: 48px;
  border-radius: 100%;
  right: 51px;
  bottom: 60px;
  z-index: 55;
}
.showDiv {
  display: flex;
}

/* taza area de trabajo */

.Capa{
  display: block;
  width: 250px;
}
.Capa.showCapa{
  display: block;
}
.EditorCapas.Taza-Especificacion {
  width: 100%;
  height: 47vh;
  position: absolute;
  z-index: 5;
  top: 0;
}

.MainChanges img {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 900px) {
  .caja-info-costo {
      flex-wrap: wrap;
      text-align: center;
      height: auto;
      padding-top: 75px;
      padding-bottom: 74px;
  }
  
  .costo-total {
      width: 100%;
  }
  
  .total-PedidoCompleto {
      width: 100%;
  }
  
  .costo-total, .total-PedidoCompleto {
      height: 150px;
  }

.Options-Constructor-Capas {
  width: 83%;
  margin-bottom: 0;
  margin-top: 50px;
}

div#Constructor {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.Flexie-Constructor {flex-wrap: wrap;flex-direction: column-reverse;}

.barra-left {
  display: flex;
  align-items: center;
  height: 161px;
}

.btn-edit-circle {
  margin-bottom: 0px;
  margin-right: 35px;
}

.Producto-Changes {
  width: 86%;
}

.datos-Cambiantes {
  margin-top: 58px;
}
}


/* HOME */
.Seccion-Grande {
  position: relative;
  overflow: hidden;
}

.Seccion-Grande {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  height: 544px;
}

.Seccion-Grande img {
  width: 100%;
  position: absolute;
  top: 0;
  height: 100%;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
}

.sccion-txt {
  position: relative;
  z-index: 2;
  width: 26%;
  margin-left: 145px;
}

.Seccion-Grande {
  display: flex;
  align-items: center;
}

.Seccion-Medium {
  display: flex;
  margin: 0 auto;
  width: 90%;
  overflow: hidden;
  margin-top: 19px;
  justify-content: space-between;
}

.Sc-Med {
  position: relative;
  overflow: hidden;
  width: 49.5%;
  height:390px;
}
.Seccion-Medium {
  margin-bottom: 33px;
}
.Sc-Med img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.Sc-Med img {
  pointer-events: none;
}

.Sc-Med .sccion-txt {
  background: #fff;
  width: 80%;
  margin: 0;
  padding: 42px;
}

.Sc-Med {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 2.5s;
}

.Sc-Med .sccion-txt {
  transition: all ease 0.5s;
}

.Sc-Med .sccion-txt {
  transform: translateY(150%);
  opacity: 0;
}

.Sc-Med:hover .sccion-txt {
  transform: translateY(0%);
  opacity: 1;
}

.Seccion-Grande, .Seccion-Medium {
  max-width: 1418px;
}

img.img-Logo {
  margin: 0 auto;
  display: block;
  width: 29%;
  margin-top: 56px;
  pointer-events: none;
}
.sccion-txt a {
  background: #d3c1a9;
  color: white;
  display: inline-block;
  padding: 8px;
  border-radius: 17px;
  font-weight: 600;
  font-size: 13px;
}

.sccion-txt p {
  margin-bottom: 17px;
}

.sccion-txt span {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
}

.sccion-txt h3 {
  font-size: 31px;
}

.Sc-Med .sccion-txt  h3 {
  font-size: 20px;
}

.Sc-Med .sccion-txt {
  border-radius: 26px;
}
.liss {
  display: flex;
  justify-content: space-between;
  background: #eee;
  padding: 55px;
}

.liss li img {
  width: 16%;
  margin-bottom: 15px;
}

.liss li {
  width: 19%;
}
.promodiv {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  max-width:1419px;
  height: 478px;
}

.promodiv img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
}

.promodiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.promo-Txt {
  text-align: center;
  z-index: 2;
  position: relative;
  background: #000000;
  color: white;
  padding: 33px;
}

.promodiv img {
  z-index: 1;
}.promodiv {
  margin-bottom: 52px;
}

.promo-Txt span h3 {
  font-size: 46px;
  font-weight: 500;
}

.promo-Txt span {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.promo-Txt span p {
  width: 62%;
  margin: 0 auto;
}

.promo-Txt {
  outline: 2px solid #eee;
  outline-offset: -19px;
}

ul.listado-beneficios {
  background: #eee;
}

.liss {
  max-width: 1909px;
  margin: 0 auto;
}
@media screen and (max-width: 900px) {

  .liss {
      display: flex;
      justify-content: space-between;
      background: #eee;
      padding: 55px;
  }
  
  .liss li img {
      width: 16%;
      margin-bottom: 15px;
  }
  
  .liss li {
      width: 19%;
  }
  
  .liss {
      flex-wrap: wrap;
  }
  
  .liss li {
      width: 45%;
  }
  
  .liss li:nth-child(1), .liss li:nth-child(2) {
      margin-bottom: 38px;
  }
  
  .liss li img {
      width: 35%;
  }
  
  .liss {
      padding: 22px;
  }
  
  .liss li:nth-child(1), .liss li:nth-child(3) {
      margin-right: 33px;
  }
  
  img.img-Logo {
      width: 79%;
  }
  .Seccion-Grande {
      height: 497px;
      background: #f2f2f2;
  }
  
  .Seccion-Grande img {
      right: -1%;
      top: 0%;
      width: 205%;
      height: 50%;
      position: absolute;
      top: 50%;
  }
  
  .Seccion-Grande .sccion-txt {
      width: 60%;
      margin-left: 36px;
      position: absolute;
      top: 82px;
  }
  .Sc-Med {
      width: 100%;
      height: 256px;
      margin-bottom: 30px;
  }
  
  .Seccion-Medium {
      flex-wrap: wrap;
  }
  
  .Sc-Med .sccion-txt {
      width: 85%;
      padding: 13px;
  }

  .Sc-Med .sccion-txt {
      transform: translateY(-60%);
      opacity: 1;
  }
  
  
  .Sc-Med {
      height: 574px;
      background: #ededed;
  }
  
  .Sc-Med img {
      object-fit: cover;
      width: 100%;
      height: 49%;
      position: absolute;
      bottom: 0;
  }
  
  .Sc-Med:hover .sccion-txt {
      transform: translateY(-60%);
  }
  
  .Sc-Med .sccion-txt {
      background: none;
  }
}

.form-1.ext input {
  width: 67%!important;
}

form.dts.colonia-calles .form-1 {
  width: 26vh!important;
}

form.dts.colonia-calles .form-1 input {
  width: 36vh!important;
}

form.dts.colonia-calles {
  justify-content: space-around;
}

h3.main.NameDireccion span {
  display: flex;
  align-items: center;
}
.registrar-Btn {
  display: flex;
  align-items: center;
  height: 16vh;
  justify-content: center;
}

.registrar-Btn button.btn-Principal {
  margin: 0;
  width: 21vh;
}
h3.main.NameDireccion span form {margin-left: 19px;}

h3.main.NameDireccion span form input {
  width: 29vh;
  padding: 7px;
  background: none;
  border: 0px;
  border-bottom: 2px solid #cecece;
}

h3.main.NameDireccion span form input:focus {
  outline: 0;
}

.flexie-D {
  display: flex;
  width: 78%;
}

.flexie-D .btn-Principal {
  top: 0!important;
  width: 117px;
}

.dashboard-cuenta.datosMain form.dts .form-1 p {
  display: block;
  width: 100%;
  margin-top: 9px;
}

.dashboard-cuenta.datosMain form.dts .form-1 {
  flex-wrap: wrap;
}

.lista-Categorias a {
  color: black;
}

.form-1 p {
  display: block;
  width: 100%;
  margin-top: 9px;
}

.form-1 {
  flex-wrap: wrap;
}

.lista-Categorias a {
  color: black;
}

.icon-user {
  position: relative;
  overflow: hidden;
}

.icon-user img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  object-fit: cover;
  object-position: center;
}

.icon-user img {
  pointer-events: none;
}

.icon-user button.btn-Principal {
  z-index: 2;
  position: relative;
  font-size: 9px;
  margin-top: 66px;
  padding: 8px;
  width: 58%;
}

.icon-user button.btn-Principal {
  transition: all ease 0.5s;
  opacity: 0;
}

.icon-user:hover button.btn-Principal {
  opacity: 1;
}

.advertencia {
  position: fixed;
  z-index: 888;
  bottom: 0;
  background: #9c8d7bed;
  width: 100%;
  height: 167px;
}

.advertencia {
  display: flex;
  align-items: center;
  padding-left: 53px;
  justify-content: space-around;
}

.pText {
  color: white;
}

.advertencia button {
  border: 0px;
  padding: 10px 29px;
  border-radius: 19px;
  font-size: 12px;
}
.content-direc p span {
  margin-right: 7px;
}
span.nexterior {
  margin-left: 8px;
}
span.codigoPostal {
  margin-left: 7px;
}
p.calles {
  display: block!important;
}

.Pop-UPDisenios {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.Pop-UPDisenios {
  z-index: 678;
}

.box-Grande {
  background: #fff;
  padding: 38px;
  text-align: center;
}

.box-Grande {
  position: relative;
}

.box-Grande {
  width: 50%;
  max-width: 1250px;
}

.info-dATA h3 {
  border-bottom: 1px solid #eee;
  display: block;
  margin-bottom: 13px;
  padding: 25px;
  padding-top: 0px;
  font-weight: 600;
}


.info-dATA p {margin-bottom: 19px;}

.Pop-UPDisenios {
  display: flex;
}

.Pop-UPDisenios.showDiv {
  display: flex;
}

.box-Grande i#Closeet {
  margin-top: -14px;
}

.Categoria-Designs {
  position: relative;
}

.DivDesign {
  width: 180px;
  height: 202px;
  position: relative;
  overflow: hidden;
}

.PreviewDsgn {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.PreviewDsgn img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.DivDesign {
  border: 1px solid #eee;
  padding: 14px;
  border-radius: 18px;
  box-shadow: 2px 2px #eee;
  cursor: pointer;
}

.dts-Dsgn span {
  background: #d3c1a9;
  color: white;
  padding: 6px;
  border-radius: 12px;
  font-size: 11px;
}

.DivDesign:hover {
  transform: scale(1.04);
  transition: all ease 0.3s;
}

.DivDesign {
  transition: all ease 0.3s;
}

.DivDesign {
  display: inline-block;
  margin-right: 16px;
}

.DivDesign {
  margin-bottom: 16px;
}

.Categoria-Designs {
  height: 44%;
  overflow: auto;
}


.Info-Extra {
  width: 291px;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

.Info-Extra img {
  width: 100%;
}

.Info-Extra p {
  font-size: 11px;
  padding: 29px;
  display: block;
  background: #faf9f5;
  margin-top: 8px;
  text-align: justify;
  color: #c43d3d;
  font-weight: 600;
}

button.btn-Circle-Color.Negro {
  background: #000;
}

button.btn-Circle-Color.Rojo {
  background: red;
}

button.btn-Circle-Color.Naranja {
  background: orange;
}

.Cate {
  display: flex;
  align-items: center;
  padding: 44px;
  background: #eee;
  border-radius: 30px;
}

.imgCate {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
}

.InfoCate {
  width: 50vh;
}

.imgCate img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  pointer-events: none;
}

.imgCate {
  margin-right: 34px;
}

.InfoCate p {
  font-size: 12px;
}

.Tags span {
  background: #b8b897;
  text-transform: uppercase;
  display: inline-block;
  padding: 5px 22px;
  border-radius: 15px;
  font-size: 10px;
  font-weight: 700;
}

.Tags {
  display: block;
  margin-top: 22px;
}

.Model.Cated {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 44px;
}

.Model.Cated button {
  background: #aaaa88;
  color: white;
  display: block;
  padding: 7px 15px;
  border: 0px;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: 600;
}

.Model.Cated button {
  cursor: pointer;
}


.InfoCate {
  width: 49%;
}

.Cate {
  justify-content: space-between;
}

.Dts-Cantidad h3 {
  font-size: 14px;
}

.Dts-Cantidad {
  margin-bottom: 15px;
  margin-right: 26px;
}

.header-categorias {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 114%;
  height: 361px;
  border-radius: 44px;
}

.header-categorias img {
  position: absolute;
  pointer-events: none;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.ctn-categoria {
  position: relative;
}

a.btn-design1 {
  position: relative;
  background: #aaaa88;
  color: white;
  text-transform: uppercase;
  padding: 5px 15px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 600;
}

.header-categorias a.btn-design1 {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 25px;
  margin-right: 28px;
}

.ctn-categoria {
  margin-left: 116px;
}

.header-categorias {
  margin-bottom: 41px;
}

.Catgoria.Sub-Categoria {
  position: relative;
}

.header-box h1 span {
  background: #aaaa88;
  color: white;
  border-radius: 15px;
  padding: 6px;
  font-size: 10px;
  margin-left: 7px;
}

.header-box h1 {
  display: flex;
  align-items: center;
  font-size: 29px;
}

.SubCategoria {
  background: #aaaa88;
  padding: 25px;
  border-radius: 28px;
  color: white;
  margin-bottom: 19px;
}

.header-box {
  margin-bottom: 10px;
}

.subCategoria-body {
  background: #b8b897;
  padding: 27px;
}

.Div-Wrapp {
  max-width: 750px;
}

.Div-Wrapp .Model.Cated {
  width: 113%!important;
}

.Catgoria.Sub-Categoria {
  width: 115%;
}

.SubCategoria .Details-Cate {
  display: flex;
  align-items: center;
}

.SubCategoria {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SubCategoria .Details-Cate .Dts-Cantidad {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.SubCategoria .Details-Cate .Dts-Cantidad span {
  margin-left: 10px;
}

.header-box.gg {
  display: flex;
  justify-content: flex-end;
}

.header-box.gg a {
  margin-right: 15px;
}

.header-box.gg a:nth-child(2) {
  margin-right: 0px;
}

.header-box.Cajta {
  display: flex;
  background: #Eee;
  padding: 29px;
  border-radius: 25px;
  align-items: center;
  margin-top: 24px;
  position: relative;
  overflow: hidden;
}

.datos-producto-config form label {
  font-size: 11px;
}

.inputdivy {
  display: flex;
  align-items: center;
}

.inputdivy input {
  width: 100%;
  border: 0px;
  border-radius: 27px;
  padding: 7px;
}

.datos-producto-config .header-box {
  display: flex;
  align-items: center;
  height: 49px;
  margin-top: 14px;
}

.datos-producto-config .header-box input {border: 0px;border-radius: 18px;padding: 6px;margin-left: 14px;}

.datos-producto-config .header-box input {
  margin-right: 18px;
}



.config-info-Producto {
  position: relative;
  overflow: hidden;
  width: 117%;
}

.image-product {
  width: 150px;
  height: 150px;
  background-color: #c1c1b1;
  border-radius: 100%;
}

.header-box.Cajta .change-images {
  margin-right: 47px;
}

.datos-producto-config {
  position: relative;
  overflow: hidden;
  width: 76%;
}

.datos-producto-config .header-box input.formu-bg {width: 154px;}

textarea.formu-bg {
  width: 100%;
  height: 143px;
  border-radius: 15px;
  border: 0px;
  margin-left: 17px;
  margin-top: 22px;
}

input.formu-bg {
  margin-left: 13px;
}

.header-box.Cajta .change-images a.btn-design1 {
  position: relative;
  left: 8px;
}
.datos-producto-config h3 {
  margin-bottom: 19px;
}

.ctn-2 .header-box {
  display: flex;
  justify-content: space-between;
}

.more-options .header-box .name-cate {
  display: flex;
  justify-content: space-between;
  width: 100vh;
  font-size: 11px;
}

.tabla-list-pedidos {
  display: flex;
  justify-content: space-between;
}

.tabla-list-pedidos .image-product {
  width: 50px;
  height: 50px;
}

.tabla-list-pedidos {
  background: #b8b897;
  padding: 15px;
  border-radius: 28px;
}

.ctn-2 {
  width: 870px;
  margin-top: 39px;
}

.tags-product {
  font-size: 11px;
}

.ctn-tags {
  display: flex;
}

.name-product {
  position: relative;
  margin-left: -27px;
}

.tabla-list-pedidos {
  align-items: center;
}

.datos-product {
  margin-left: -27px;
  width: 239px;
}

.datos-product a {
  font-size: 12px;
  color: white;
  font-weight: 600;
}

.tags-product .ctn-tags {
  margin-left: -100px;
  color: white;
  font-weight: 600;
  width: 115px;
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
}

.ctn-tags p {
  display: inline-block;
}

.tags-product h3 {
  position: relative;
  left: 93px;
}

.price-product {
  margin-left: 158px;
}

.more-options .header-box {
  margin-top: 40px;
}

.tabla-list-pedidos {
  margin-top: 15px;
  color: white;
}

.status-pr i {
  font-style: normal;
}

.status-pr i a {
  background: #aaaa88;
  font-size: 11px;
  border-radius: 16px;
  padding: 5px;
  color: white;
}

.price-pr {
  margin-left: -21px;
}

.status-pr {
  margin-right: 12px;
}

header.cabera {
  height: 384px;
  display: flex;
  align-items: center;
  border-radius: 28px;
}

header.cabera img {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
}

.info-cabe {
  z-index: 3;
  margin-left: 73px;
}

.changes-div {
  width: 117%;
  position: relative;
}

.changes-div a.btn-design1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 6;
  margin-top: 15px;
  margin-right: 22px;
}

.config-info-Producto.galeria {
  background: #eee;
  padding: 25px;
  border-radius: 28px;
}

.config-info-Producto.galeria .header-box {
  display: flex;
  justify-content: space-between;
}

.header-box.galery-div {
  margin-top: 24px;
}

.config-info-Producto.galeria .header-box .change-images {
  text-align: center;
  margin-right: 19px;
  display: inline-block;
}


/* PANEL */

.mainInfo-Pedido {
  width: 133vh;
  position: relative;
  padding: 37px;
}

.CrearPrdt { 
  background: #fefefe; 
  padding: 26px; 
  width: 62%; 
  font-size: 12px; 
  outline: 1px solid #eaeaea; 
  outline-offset: -9px;
}

button.viewProduct {
  margin-top: 69px;
}

.box-Dagrabble button.viewProduct {
  margin-top: 19px;
}

button.viewProduct {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  background: #d3c1a9;
  color: white;
  padding: 15px 25px;
  border-radius: 15px;
  border: 0;
  cursor: pointer;
  font-weight: 700;
}

.NombreProducto input {
  border: 0;
  text-align: center;
}

.NombreProducto input:focus {
  outline: none;
}

.Options-Constructor-Capas .btn-Circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.Options-Constructor-Capas .btn-Circle {
  transform: rotate(0deg);
  font-weight: 500;
  cursor: pointer!important;
  font-size: 15px;
}

.Options-Constructor-Capas .btn-Circle:hover {
  cursor: pointer;
}

.Lista-Productos-Creados {
  max-height: 395px;
  overflow: auto;
  border: 15px solid #FFF;
}

button.btn-Circle-Color.active {
  border: 3px solid #d3c1a9;
}

button.btn-Basico {
  margin-right: 9px;
}
button.viewProduct {
  margin: 0 auto;
  display: block;
  margin-top: 50px;
}

.MainChanges {
  text-align: center;
}

.gtexto {
  text-align: left;
}

.gtexto textarea {
  background-color: transparent;
  border: 0;
  resize: none;
}
.gtexto textarea:focus {
  outline: none;
}

.box-Grande i#Closeet {
  margin-top: -14px;
}

i#Closeet {
  background: #d3c1a9;
  color: white;
  font-size: 14px;
  padding: 14px;
  margin-right: -20px;
}

i#Closeet {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 45px;
  cursor: pointer;
}

.info-dgg {
  padding: 25px;
  text-transform: uppercase;
  opacity: .8;
  border: 2px solid #eee;
}

.Pop-UPDisenios.Images .box-Grande {
  width: 26%;
}
.box-Grande {
  width: 50%;
  max-width: 1250px;
}
.box-Grande {
  position: relative;
}
.box-Grande {
  background: #fff;
  padding: 38px;
  text-align: center;
}

.info-dgg p {
  font-size: 11px;
  font-weight: 600;
}

.info-dgg i {
  font-size: 30px;
  display: block;
  margin-bottom: 18px;
  opacity: .7;
}

.info-dgg p span {
  display: block;
  margin-top: 8px;
}

.info-dgg.active {
  box-shadow: 2px 1px 19px 5px #e1e1e1ee;
}

.Pop-Up-Fuentes {
  display: flex;
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-delay: 0.2s;
}

.Pop-Up-Fuentes {
  background: #fff;
  width: 23%;
  position: fixed;
  z-index: 8;
  height: 100%;
}

.Pop-Up-Fuentes {
  display: flex;
  justify-content: center;
  padding-top: 148px;
}

.cajitaFuentes h3 {
  text-align: center;
  width: 75%;
  display: block;
  margin:  auto;
  margin-bottom: 49px;
}

.inputSearch {
  border: 1px solid #e0e0e0;
  border-radius: 50px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputSearch {
  padding-right: 6px;
  padding-left: 25px;
}

.inputSearch i {
  background: #d3c1a9;
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 12px;
}

.inputSearch input {
  border: 0px;
  width: 84%;
}

.inputSearch input:focus {
  outline: none;
}

.inputSearch {
  margin-bottom: 39px;
}

.cajitaFuentes h3 {
  text-align: center;
  width: 75%;
  display: block;
  margin:  auto;
  margin-bottom: 49px;
}

.Fuentes-Div {
  position: relative;
  margin-bottom: 26px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 20px;
}

.Fuentes-Div span {
  font-size: 21px;
}

.Fuentes-Div p {
  font-size: 15px;
  opacity: .6;
}

.Fuentes-Div input {
  display: block;
  width: 100%;
  border: 0;
  height: 42px;
  font-size: 15px;
  opacity: .8;
}

.Fuentes-Div button {
  width: 30%;
  padding: 5px;
  margin-top: 5px;
}

.Fuentes-Div input:focus {
  outline: none;
}

.NavEditorTextos {
  position: absolute;
}

.gtexto {
  top: 61px;
  position: absolute;
}

.gtexto span {
  z-index: 999999;
}

.tVIo4rEi46j8hD1o {
  float: left;
}

.NavBtn {
  margin-top: 7px;
}

input[type=color] {
  width: 21px;
  height: 21px; 
  border-radius: 50%;
  overflow: hidden;
  display: block;
  margin: 0 auto;
}

input[type=color]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}

input[type=color]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0;
}

.NavBtn select {
  padding: 2px;
  height: 28px;
  width: 41px;
  text-align: center;
  appearance: none;
  display: flex;
  margin-bottom: -6px;
}

.draggable-input input {
  position: absolute;
  right: 0;
  width: 100%;
  height: 15vh;
  top: 0;
  opacity: 0;
  z-index: 3;
  cursor: default;
}

.draggable-input {
  position: relative;
  overflow: hidden;
  cursor: default;
}

.draggable-input input[type="file"]:hover ,info-dgg {
  display: none;
}

.info-dgg {
  z-index: 2;
  position: relative;
  cursor: default;
}

.draggable-input input:hover .info-dgg {
  display: none;
}

.draggable-input input:hover {
  cursor: default;
}

.draggable-input-focus {
  background: #f3f3f3;
  box-shadow: 1px 3px 20px 3px #d3d3d2;
}

.Capa:hover  .gtexto img {
  box-shadow: 1px 1px 20px 4px #919191;
}

.Capa .gtexto img {
    margin-bottom: -7px;
}

.Capa:hover .gtexto span {
  text-shadow: -1px 2px 12px #000000;
}

@media screen and (max-width: 600px) {
  .advertencia {
    flex-wrap: wrap;
    padding: 18px;
    text-align: center;
    height: 22%;
  }
}

.form-2 p {
  font-size: 11px;
  color: #a98452;
}

a.btn-Principal {
  background: #d3c1a9;
  color: white;
  display: inline-block;
  margin-top: 26px;
  padding: 7px 21px;
  border-radius: 19px;
  text-transform: uppercase;
  font-size: 13px;
}

.content-txt .form-1 input {
  background: none;
  border: 0px;
  border-bottom: 2px solid #c3c3c3;
  display: block;
  width: 85%;
  height: 47px;
  text-align: center;
  margin: 0 auto;
}

.login-container.reauth-box {
  background: none;
  min-height: 502px!important;
}

.login-container.reauth-box .formulario-conexion {
  width: 100%;
  justify-content: center;
  margin: 0px;
}

.login-container.reauth-box .conectarse form label {
  margin-bottom: 41px!important;
  display: block;
}

.login-container.reauth-box h3 {
  margin-bottom: 6px;
}

.login-container.reauth-box .conectarse form input[type="password"] {
  margin-bottom: 35px;
}

.Fuentes-Div {
  overflow: auto;
  height: 74%;
}

.fontBox-Container {
  border-bottom: 1px solid #eee;
  padding: 25px;
}

.fontBox-Container:hover {
  background: #f9f9f9;
}

.Fuentes-Div button {
  margin-bottom: 0px!important;
}

.NavEditorTextos {
  z-index: 888;
}

button.NavBtn {
  border: 0;
  background: 0;
  padding: 0;
  cursor: pointer;
}

.gtexto {
  min-width: 390px!important;
}

.Fuentes-Div input {
  background: none;
}

.gtexto textarea {
  width: 100%!important;
}